.month{
  margin-top: 10px;
}
.month .title{
  font-weight: bold;
  border-top: 1px solid black;
}

.week-no{
  background-color: lightgray;
}

.day{
  width: 20px;
  border: 1px solid transparent;
}

.past{
  border: 1px solid red;
}

.vacation{
  background-color: lightgreen;
}

.holiday{
  background-color: lightgrey;
}

.weekend{
  background-color: lightskyblue;
}