.month{
  margin-top: 10px;
}
.month .title{
  font-weight: bold;
  border-top: 1px solid black;
}

.week-no{
  background-color: lightgray;
}
.day{
  width: 20px;
}

.red{
  background-color: red;
}

.green{
  background-color: green;
}

.blue{
  background-color: blue;
}